
 
    
    



body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px 50px; 
    color: white; 
    padding:0, 5em;
    background: grey;

}


h1 {
    color: black;
    font-family:  sans-serif;
    margin: 2em ;
    text-align: left;
    size: 64px;
    max-width: 900px;
    min-width: 900px;
    
   
    
    
}

#creative {
    color: black;
    font-family:  sans-serif;
    margin: 2em ;
    text-align:center;
    size: 64px;
    max-width: 900px;
    min-width: 900px;
    
}
.container {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}
img {
   height: 19em;
   width: 19em;
    }

.container > div {
    flex-basis: 50%;
}    
.img-col {
    flex-basis: 100%;
}


.create {
    display:flex;
}

ul {
    list-style-type: none;
    color: white;
    padding: 0;
    text-align: center;
    display:flex;
    

     

}

ul>li {
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.span {
    color: rgb(19, 17, 17);
    font-weight: 700;
    

  
}



.history {
    display:block;
    text-align: justify;
    text-indent: 35px;
}

nav {
    display: flex;
                                 
    
    
}

#Brad {
    border-radius: 50%;
    border-style: double;
    border-color: white;
    height: 300px;
    width: 300px;
    float: left;
    margin: 2em;
    
}

#corridors {
    height: 200px;
    margin: 20px;
    display:flex;
    
    

    
}

a {
    color: white;
}    

p {
    font-family: Verdana;
    min-width: 80%;
    max-width: 80%;
    text-align: justify;
    text-indent: 20px;
    
    

}


 nav>ul>li>a {
    color: white;
    text-decoration: none;
    flex-wrap: wrap;
    border-bottom: white;
     
}
#history {
    color:black;
    text-decoration: none;
    text-emphasis: bold;
    color: rgb(19, 17, 17);
    font-weight: 700;




    

}

#footer {
    text-align: left;
    clear: left;
}